@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fraunces", serif;
}
body
{
    width:100%;
    height: 100vh;
    background-color:  hsl(30, 38%, 92%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.img .img1
{
    width:350px;
    height:500px;
}
.container
{
    width: 700px;
    border: 0px ;
    background-color: white;
    border-radius: 10px;
    
}
.container .img
{
    display: flex;
    /* margin: auto; */
}
.contant .lable
{
    letter-spacing: 3.5px;
    color: hsl(228, 12%, 48%);
    line-height: 60px;
    font-weight: 500;
}
.place
{
    padding: 30px 30px 20px 50px ;
}
.container .img  img
{
    z-index: 100;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.paragraf
{
    margin-top: 30px;
    line-height: 23px;
    letter-spacing: 1px;
    color:hsl(228, 12%, 48%) ;
}

.price
{
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 25px;
}
.price h1
{

    color: hsl(158, 36%, 37%);
    letter-spacing: 0.5px;
}
.price p
{
    text-decoration: line-through;
    color: hsl(228, 12%, 48%) ;

}
.add-to-cart
{
    margin-top: 20px;
}
.add-to-cart button
{
    height: 45px;
    width: 250px;
    border-radius: 12px;
    color: white;
    background-color: hsl(158, 36%, 37%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    font-size: 16px;
    outline: 0;
    border: 0;
    cursor: pointer;
    transition: 0.7s ease;


}
.add-to-cart button:hover
{
    background-color: hsl(157, 23%, 25%);
}

@media only screen and (max-width: 734px)
{
.container
{
    width: 350px;
    border: 0px ;
    border-radius: 10px;
    background-color: white;
    
}
.container .img
{
    display: block;
}
.contant .lable
{
    letter-spacing: 3.5px;
    color: hsl(228, 12%, 48%);
    line-height: 40px;
    font-weight: 500;
    /* padding: 15px 15px 15px 15px; */
}
.container .img  .img1
{
    z-index: 100;
    width: 330px;
    margin: 10px 5px 5px 10px;
    height: 330px;
    border-radius: 10px;
}
.paragraf
{
    margin-top: 30px;
    line-height: 23px;
    letter-spacing: 1px;
    color:hsl(228, 12%, 48%) ;
}

.price
{
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 25px;
}
.price h1
{

    color: hsl(158, 36%, 37%);
    letter-spacing: 0.5px;
    font-size: 20px;
}
.price p
{
    text-decoration: line-through;
    color: hsl(228, 12%, 48%) ;

}
.add-to-cart
{
    margin-top: 20px;
}
.add-to-cart button
{
    height: 45px;
    width: 250px;
    border-radius: 12px;
    color: white;
    background-color: hsl(158, 36%, 37%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    font-size: 16px;
    outline: 0;
    border: 0;
    cursor: pointer;
    transition: 0.7s ease;


}
.add-to-cart button:hover
{
    background-color: hsl(157, 23%, 25%);
}
}